:root {
    --color-mint: rgb(11, 185, 127);
    /* --color-bg: white; */
    /* --color-contrast-bg: rgb(0, 0, 0); */
    --color-rose: rgb(255, 0, 98) !important;
    --color-aquamarine: rgb(21, 196, 196);
    --color-magenta: rgb(153, 0, 255);
    --color-cerulean: rgb(40, 79, 185);
    --color-monitor-one: #000000;
    --color-monitor-screen: #1f1e1e;
    --color-active: #85c5ce;
    --font-code: 'Press Start 2P', cursive;
    --chat-primary-color: #85c5ce;
    /* --color-bg-backdrop: rgba(255, 255, 255, 0.671); */
    --color-bg: linear-gradient(90deg, #012125, #000000);
    --color-contrast-bg: rgb(255, 255, 255);
    --color-bg-backdrop: rgba(0, 0, 0, 0.459);
}

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 body {
    background: var(--color-bg);
    min-height: 100vh;
    font-family: 'Dosis', sans-serif;
}

.var-1 {color:var(--color-mint) !important}
.color-primary {color:var(--chat-primary-color) !important}
.var-2 {color: var(--color-rose) !important}
.color-rose {color: var(--color-rose) !important}
.var-3 {color: var(--color-aquamarine) !important}
.var-4 {color: var(--color-magenta) !important}
.color-magenta {color: var(--color-magenta) !important}
.var-5 {color: var(--color-cerulean) !important}

.button-outline-rose {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    border: 3px solid var(--color-rose);
    color: var(--color-rose);
}
.button-outline-rose:hover {
 background-color: var(--color-rose);
 color: white;
}
.button-outline-mint {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    border: 3px solid var(--chat-primary-color);
    color: var(--chat-primary-color);
}
.button-outline-mint:hover {
 background-color: var(--chat-primary-color);
 color: white;
}
.button-outline-cerulean {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    border: 3px solid var(--color-cerulean);
    color: var(--color-cerulean);
}
.button-outline-cerulean:hover {
 background-color: var(--color-cerulean);
 color: white;
}
.button-outline-magenta {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    border: 3px solid var(--color-magenta);
    color: var(--color-magenta);
}
.button-outline-magenta:hover {
 background-color: var(--color-magenta);
 color: white;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-bg: linear-gradient(90deg, #012125, #000000);
        --color-contrast-bg: rgb(255, 255, 255);
        --color-bg-backdrop: rgba(0, 0, 0, 0.459);
    }
  }

@media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  } */