#waiting-greeting {
    font-size: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
    word-break: break-all;
}

#waiting-greeting > * {
    margin-top: 10px;
}
nav {
    background: linear-gradient(#ffffff1a, transparent);
    padding: 20px;
    color: var(--color-mint);

}